* {
    border-color: blue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: green;
    display: block;
    max-width: 100%;
}

button {
     border-color: red;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1.70rem 1rem;
    max-width: 48rem;
    position: relative;
}

/* Notification Header */
.notifications__header {
    border: orange;
    align-items: center;
    justify-content: space-between;
    gap: 0.30rem;
    margin-bottom: 1rem;
}
.notifications__number {
    border: purple;
    border: solid;
    background-color: blue;
    color: black;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
    margin-left: 1rem;
}
body {
    border: rosybrown;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: sienna;
    border: solid;
    background: white;
    padding: 1.75rem 1rem;
    max-width: 48rem;
    position: relative;
}

/* Notification Header */
.notifications__header {
    border: solid;
    border: springgreen;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    margin-bottom: 2rem;
}

.notifications__theme-icons {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}

.notifications__read-btn {
    margin-left: auto;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Theme Buttons */
.notifications__btn-theme {
    background: transparent;
    border: solid;
    display: grid;
    place-items: center;
}

.notifications__icon {
    border: cornflowerblue;
    border: solid;
    display: block;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.notifications__icon--light {
    display: none;
}

.notifications__icon--light:hover {
    color: orange;
}

.notification__icon-dark {
    display: block;
}

.notifications__icon--dark:hover {
    color: lightseagreen;
}
/* Notifications */
.notification {
    display: flex;
    padding: 1rem;
}

.notification--unchecked {
    border-radius: 0.5rem;
    cursor: pointer;
}

.notification__unread-icon {
    margin-left: 0.35rem;
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
}